<!-- ----------- SENDS INFO TO LAYOUT------------ -->
{% extends "layout.html" %}
{% block content%}
    <div class="bg-blue-100 py-20 px-10 min-h-screen w-screen">
        <div class="max-w-3xl mx-auto p-5 w-9/12 bg-gray-100 border-8 border-black rounded space-y-4">
            <h1 class="text-2xl font-bold">Let's hear about everyones GA experience. GOOD AND BAD!!</h1>
            <h3>This blog is for anyone that has completed, in progress, tried, cried, or failed GA. Share your experiences with anyone wondering where you dissappeared to while in the cohort!! </h3>
        </div>
    </div>
{% endblock content %}