<!-- ----------- SENDS INFO TO LAYOUT------------ -->
{% extends "layout.html" %}
{% block content%}

<!-- ----------------FORM TO SUBMIT OR EDIT POST-------------- -->
    <div class="bg-blue-100 py-20 px-10 min-h-screen w-screen">
        <form method="POST" action="" class="md:w-1/2 mx-auto">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>{{ legend }}</legend>
                <!-- ---------CHANGES LEGEND TO SHOW NEW/EDIT POST----------- -->
                <div class="flex items-center bg-gray-400 rounded-t-lg border border-gray-500">
                    {{ form.title.label (class="text-xl w-20 text-right mr-8 text-gray-100")}}
                    {{ form.title (class="flex-1 font-semibold p-4 pl-0 bg-gray-200 outline-none text-gray-500")}}
                </div>
                <div class="flex items-center bg-gray-400 border rounded-b-lg mb-5 border-gray-500">
                    {{ form.content.label (class="text-xl w-20 text-right mr-8 text-gray-100")}}
                    {{ form.content (class="flex-1 p-4 pl-0 bg-gray-200 outline-none text-gray-500")}}
                </div>
            </fieldset>
            <div>
                {{ form.submit (class="block w-full rounded bg-green-400 py-3 text-white font-bold transition duration-500 ease-out hover:bg-green-700")}}
            </div>
        </form>
    </div>
{% endblock content %}